* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}

body {
  position: relative;
  background-color: #ddd;
}

.orange {
  position: absolute;
  top: -10vh;
  right: 0;
  z-index: -1;
  width: 55vw;
  height: 150vh;
}

@media screen and (max-width: 1130px) {
  .orange {
    opacity: .5;
  }
}

.active {
  color: #e08958;
}

header nav {
  background-color: #eee;
  width: 100%;
}

header nav ul {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2rem;
}

@media screen and (max-width: 1130px) {
  header nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

header nav ul li {
  font-size: 1.75rem;
}

@media screen and (max-width: 1130px) {
  header nav ul li {
    padding: 1rem 0;
    border-bottom: 2px solid #ccc;
  }
}

header nav ul li a {
  color: #000;
  text-decoration: none;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .left {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 500px;
          flex: 2 1 500px;
  padding: 2rem;
}

main .left h1 {
  font-size: 4rem;
  color: #e08958;
}

main .left p {
  font-size: 1.5rem;
  padding: 1rem 0;
}

main .right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 600px;
          flex: 1 1 600px;
  position: relative;
}

@media screen and (max-width: 1130px) {
  main .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1rem;
  }
}

main .right img {
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  position: absolute;
  top: 45vh;
  right: 25vw;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 1130px) {
  main .right img {
    position: static;
    -webkit-transform: none;
            transform: none;
    width: 25vw;
    height: 25vw;
  }
}

@media screen and (max-width: 450px) {
  main .right img {
    width: 40vw;
    height: 40vw;
  }
}

main section.table {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 500px;
          flex: 3 1 500px;
  padding: 1rem;
}

main section.table table {
  border-collapse: collapse;
}

main section.table table tr {
  border-bottom: 2px solid #ccc;
  -webkit-transition: all .2s;
  transition: all .2s;
}

main section.table table tr:hover {
  background-color: #ffd2b8;
}

main section.table table tr td {
  padding: 2rem;
}

main .picture {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 600px;
          flex: 1 1 600px;
  position: relative;
}

@media screen and (max-width: 1130px) {
  main .picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main .picture img {
  width: 25vw;
  height: 60vh;
  position: absolute;
  top: 50px;
  left: 100px;
}

@media screen and (max-width: 1130px) {
  main .picture img {
    width: 40vw;
    display: none;
  }
}

main .picture .orangeRect {
  width: 25vw;
  height: 60vh;
  background-color: #e08958;
  position: absolute;
  top: 70px;
  left: 130px;
  z-index: -1;
}

@media screen and (max-width: 1130px) {
  main .picture .orangeRect {
    display: none;
  }
}

main section.form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 600px;
          flex: 1 1 600px;
}

main section.form form {
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1.5rem;
}

main section.form form div {
  margin: .5rem;
}

main section.form form div label {
  font-size: 1.5rem;
  margin-right: 1rem;
}

main section.form form input,
main section.form form textarea {
  background-color: #ffaa79;
  opacity: .8;
  color: #fff;
  font-size: 1.25rem;
  padding: 0.5rem .25rem;
  border: none;
  width: 80%;
}

main section.form form textarea {
  vertical-align: top;
}

main section.form form button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #e08958;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: .75rem 1.5rem;
  font-size: 2rem;
  border-radius: 10px;
}

main div.line {
  background-color: #aaa;
  width: 3px;
}

main section.contact {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 500px;
          flex: 1 1 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

main section.contact .content h2 {
  margin: 1rem 0;
}

@media screen and (max-width: 1130px) {
  footer div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer div a {
  padding: 1rem;
}
/*# sourceMappingURL=style.css.map */