@mixin pad {
    @media screen and (max-width:768px) {
        @content
    }
};
@mixin mobile {
    @media screen and (max-width:450px) {
        @content
    }
};





*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC',
    sans-serif;
}

header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: #fff;
    box-shadow:3px 5px 5px 1px  rgba(57, 208, 235, 0.2);
    .logo{
        display: flex;
        align-items: center;
        flex: 5 1 400px;
        margin-left: 2rem;

        @include mobile{
            margin-left: 0px;
        }
        img{
            width: 6vw;
            height: 6vw;

            @include mobile{
                height: 15vw;
                width: 15vw;
            }
        }
    }
    nav{
        flex:2 1 400px;
        ul {
            display: flex;
            list-style: none;
            justify-content: space-between;
            li {
                a{
                    color:#09777d;
                    text-decoration: none;
                    font-size: 1.35rem;
                }
            }
        }
    }

}

main{
    section.backImage{
        min-height: 90vh;
        width: 100%;
        background-image: url(../資源包/Pictures/pexels-photo-416676.jpeg);
        background-size: cover;
        background-position: center;
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        h2{
            font-size: 3.5rem;
            color: #fff;
        }

        .start{
            background-color: #3bf0e5;
            padding: .75rem 1.5rem;
            font-size:1.5rem ;
            color: #fff;
            border: none;
            border-radius: 10px;
            cursor: pointer;
           
        }
        .filter{
            background-color: rgba(0,0,0, .2);
            width: 100%;
            min-height: 90vh;
            position: absolute;
            top: 0;
            z-index: -1;
        }
    }

    section.second{

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
        h2{
            font-size: 2rem;
            margin: 2rem 0;
        }

        .cards{
            display: flex;
            width: 80%;
            min-height: 80vh;
            flex-wrap: wrap;
            .card{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                padding: 1rem;
                flex: 1 1 300px;
                img{
                    margin: 1rem 0;
                    width: 15vw;
                    height: 15vw;
                    border-radius: 50%;

                    @include pad{
                        width: 40vw;
                        height: 40vw;
                    }
                }
                h4{
                    font-size: 2rem;
                    margin: 1rem 0;
                }
                p{
                    font-size: 1.25rem;
                }
                a{
                    margin: 1rem 0;
                    text-decoration: none;
                    padding: 1rem 1.5rem;
                    background-color: #09777d;
                    color:#fff;
                    font-size: 1.25rem;
                    border-radius: 10px;
                }
            }
        }
    }

}

footer{

    background-color: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 40vh;
    justify-content: space-between;
    .logo{
        display: flex;
        align-items: center;
        margin-top: 1.5rem;
        img{
            width: 6vw;
            height: 6vw;
            @include mobile {
                height: 15vw;
                width: 15vw;
            }
        }
        h2{
            font-size: 2rem;
        }
    }
    nav{
        width: 30%;
        ul{
            display: flex;
            list-style: none;
            width: 100%;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        li{
            flex-basis: 100px;
            a{
                text-decoration: none;
                font-size: 1.25rem;
                color: #fff;
                font-weight: 600;

                &:hover{
                    color:#25c9be;
                }
            }
        }
        
    }
    .link{
        margin-bottom: 1rem;
        @include pad {
            margin-top: 1rem;
        }
        a{
            margin: 0 1rem;
            img{
                width: 5vw;
                height: 5vw;

                @include pad {
                    width: 10vw;
                    height: 10vw;
                }
            }
        }
    }
}

